@font-face {
    font-family: "Pretendard-Regular";
    src: url("fonts/Pretendard-Regular.ttf");
}

body {
    padding: 0;
    margin: 0 auto; /* 화면 중앙에 위치하도록 설정 */
    overflow: hidden; /* 넘치는 부분 숨기기 */
    background-color: #f0f0f0; /* 배경색 추가 */
    font-family: "Pretendard-Regular";
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
